<!--
nxt_lejos__proxy is a ROS package included in the stack nxt_lejos which 
leJOS users can use to manage their NXT robot from a ROS Environment, 
using an optimized protocol for communicating with the ROS Responder running on the robot.
-->

<launch>
<rosparam command="load" file="$(find nxt_lejos_proxy)/NXT.yaml" />
<param name="brick_name" value="NOISY"/>
<param name="connection" value="bluetooth"/>
<param name="robot_description" command="cat $(find nxt_lejos_proxy)/robot.urdf"/>
<node pkg="nxt_lejos_proxy" 
	type="nxt_lejos_proxy" 
	args="org.lejos.ros.nodes.ROSProxy" 
	name="nxt_lejos_proxy" 
	output="screen"> 	
</node>    
</launch>

