<!--
lejosKinect is a ROS package included in the stack nxt_lejos_ros which 
allow ROS developers and LeJOS developers to manage a Kinect
from a ROS Environment.
-->
<launch>
	<node pkg="rosjava_bootstrap" 
	type="run.py" 
	args="lejosKinect org.lejos.ros.nodes.vision.kinect.Kinect" 
	name="lejosKinect" 
	output="screen" />     
</launch>

