<!--
nxt_lejos_lcp_proxy is a ROS package included in the stack nxt_lejos which 
leJOS users to manage their NXT robot from a ROS Environment, 
using the Lego Communications Protocol.
-->

<launch>
<param name="robot_description" command="cat $(find nxt_lejos_lcp_proxy)/robot.urdf"/>
	<node pkg="nxt_lejos_lcp_proxy" 
	type="nxt_lejos_lcp_proxy" 
	args="org.lejos.ros.nodes.LCPProxy" 
	name="nxt_lejos_lcp_proxy" 
	output="screen" />     
</launch>

