<launch>

  <param name="map_file_name" value="$(find nxt_lejos_map_server)/Floor.svg"/>
  <node pkg="nxt_lejos_map_server" 
	type="nxt_lejos_map_server" 
	args="org.lejos.ros.nodes.PublishOccupancyMap" 
	name="nxt_lejos_map_server" 
	output="screen" />
	
	 <!--- Run AMCL -->
  <!--- <include file="$(find amcl)/examples/amcl_omni.launch" /> -->
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find nxt_lejos_navigation)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nxt_lejos_navigation)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nxt_lejos_navigation)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nxt_lejos_navigation)/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find nxt_lejos_navigation)/base_local_planner_params.yaml" command="load" />
    
    <param name="controller_frequency" value="5.0"/>
  </node>
</launch>
